<h3>Open Data Service Bootcamp</h3>
<div class="row-fluid">
	<div class="span4" id="index-edm" onclick="onIndexGridClicked('index-edm')">
		<h5>Define Data Model</h5>
		<p>Metadata reference of Entity Data<br/>Model (EDM)</p>
	</div>
	<div class="span4" id="index-visu" onclick="onIndexGridClicked('index-visu')">
		<h5>Explore Your Data</h5>
		<p>Build OData query with certain<br/>Entity & query options</p>
	</div>
	<div class="span4" id="index-query" onclick="onIndexGridClicked('index-query')">
		<h5>Consume and Share</h5>
		<p>Consume Entity in variety clients<br/>& applications, such as Tableau</p>
	</div>
</div>
