<form class="form-horizontal" method="post" action="/entity">
    <fieldset>
        
        <!-- Form Name -->
        <legend>Submit New Entity</legend>
        
        <!-- Select Basic -->
        <div class="control-group">
          <label class="control-label" for="project">OData Project Name</label>
          <div class="controls">
            <select id="project" name="project" class="input-xlarge">
                <option value="Default">Please choose a project</option>
              <% projects.forEach(function(project, index) { %>
                <option value="<%= project.env %>.<%= project.name %>"><%= project.name %></option>
              <% }) %>
                <option value="new_project">Create A new Project</option>
            </select>
          </div>
        </div>
        
        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="entityName">OData Entity Name</label>
          <div class="controls">
            <input id="entityName" name="entityName" type="text" placeholder="Please speicfy entity name" class="input-xlarge" required="">
            <p class="help-block">Unique OData Entity Name</p>
          </div>
        </div>
        
        <!-- Text input -->
        <div class="control-group">
          <label class="control-label" for="sourceDb">Source DB</label>
          <div class="controls">
            <input id="sourceDb" name="sourceDb" type="text" placeholder="Please specify source db" class="input-xlarge" required="">
          </div>
        </div>
        
        <!-- Text input -->
        <div class="control-group">
          <label class="control-label" for="sourceTable">Source Table</label>
          <div class="controls">
            <input id="sourceTable" name="sourceTable" type="text" placeholder="Please specify source table" class="input-xlarge" required="">
            <p class="help-block">Unique Source Table</p>
          </div>
        </div>
        
        <!-- Multiple Radios -->
        <div class="control-group">
          <label class="control-label" for="cache">Cache</label>
          <div class="controls">
            <label class="radio" for="cache-0">
              <input type="radio" name="cache" id="cache-0" value="no cache" checked="checked">
              No Cache
            </label>
            <label class="radio" for="cache-1">
              <input type="radio" name="cache" id="cache-1" value="daily">
              Daily
            </label>
            <label class="radio" for="cache-2">
              <input type="radio" name="cache" id="cache-2" value="weekly">
              Weekly
            </label>
          </div>
        </div>
        
        <!-- Button (Double) -->
        <div class="control-group">
          <label class="control-label" for="button1id"></label>
          <div class="controls">
            <button id="new-entity" name="button1id" class="btn btn-success">Submit</button>
            <button id="reset" name="reset" class="btn btn-inverse">Reset</button>
          </div>
        </div>
        
    </fieldset>
</form>

<!-- Modal -->
<div id="project_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Create Project</h3>
  </div>
  <div class="modal-body">
    <div class="control-group">
        <label class="control-label" for="project_name" style="float: left;">Project Name</label>
        <div class="controls">
            <input id="project_name" name="project_name" type="text" placeholder="Please specify project name" class="input-xlarge" required="">
            <p class="help-block">Unique Project Name</p>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="project_prefix" style="float: left;">Project Name Prefix</label>
        <div class="controls">
            <input id="project_prefix" name="project_prefix" type="text" placeholder="Please specify project name prefix" class="input-xlarge" required="">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="project_owner" style="float: left;">Project Owner</label>
        <div class="controls">
            <input id="project_owner" name="project_owner" type="text" placeholder="Please specify project owner" class="input-xlarge" required="">
        </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="project_env">Project Env</label>
      <div class="controls">
        <select id="project_env" name="project_env" class="input-xlarge">
            <option value="Default">Please choose a env</option>
            <option value="dev">Dev</option>
            <option value="test">Test</option>
            <option value="prod">Prod</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id="new-project">Submit</button>
  </div>
</div>

<!-- Load js -->
<script type="text/javascript" src='/javascripts/project.js'></script>
