.table td {	
    text-align: center;
}

*.p1 h5,*.p2 h5,*.p3 h5,*.p4 h5,*.p5 h5,*.p6 h5 {
    color: black;
    text-align:center;
}

*.p1 { 
    width: 20%; 
    text-align: center
}

*.p2 {
    width: 10%;
    text-align: center
}

*.p3 { 
    width: 10%;
    text-align: center
}

*.p4{ 
    width: 10%;
    text-align: center
}

*.p5 {
    width: 15%;
    text-align: center
}

*.p6 { 
    width: 10%;
    text-align: center
}

*.p7{
    width: 13%;
    text-align: center
}

*.p01 {
    width: 20%; 
    text-align: center; 
    color: white;
}

*.p02 {
    width: 10%;
    text-align: center; 
    color: white;
}

*.p03 {
    width: 10%;
    text-align: center; 
    color: white;
}

*.p04 {
    width: 10%;
    text-align: center; 
    color: white;
}

*.p05 {
    width: 15%;
    text-align: center; 
    color: white;
}

*.p06 {
    width: 10%;
    text-align: center; 
    color: white;
}

*.p07 {
    width: 13%;
    text-align: center; 
    color: white;
}