/*-------------------------------

	PROJECT_DIALOG.CSS

-------------------------------*/
div#project_modal .modal-body label.control-label {
    float: left;
    width: 140px;
    padding-top: 5px;
    text-align: right;
}

div#project_modal .modal-body div.controls {
    margin-left: 160px;
}